<h1>Player#index</h1>
<p><%= link_to "Create player", new_admin_player_path%></p>

<table>
  <thead>
    <td>ID</td>
    <td>CTA</td>
    <td>Name</td>
    <td>Position</td>
    <td>Number</td>
    <td>Height</td>
    <td>Weight</td>
    <td>Birthday</td>
    <td>Bio</td>
    <td>Image</td>
  </thead>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.id %></td>
      <td><%= link_to "Edit", edit_admin_player_path(player) %></td>
      <td><%= link_to player.name, admin_player_path(player)%></td>
      <td><%= player.position %></td>
      <td><%= player.number %></td>
      <td><%= player.height %></td>
      <td><%= player.weight %></td>
      <td><%= player.birthday %></td>
      <td><%= player.bio %></td>
      <td><%= image_tag(player.image_url)%></td>
    </tr>
  <% end %>
</table>
