<h1>Season Admin</h1>

<section>
  <h3>Add new Season</h5>
  <%= form_for :season, url: admin_new_season_path do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :start_date %>
    <%= f.date_field :start_date %>

    <%= f.submit("Add new season") %>
  <% end %>
</section>

<section>
  <h3>Season List</h3>
  <ul>
    <% @seasons.each do |season| %>

      <li class="<%= season.is_current_season%>"><%= link_to season.name, admin_season_path(season) %> Start Date:<%= season.start_date %>  CTA: <%= link_to 'delete', admin_delete_season_path(season), method: :delete, data: { confirm: 'Are you sure?' } %> <%= link_to 'set current season', admin_set_current_season_path(season), method: :patch %></li>
    <% end %>
  </ul>
</section>
