<h1><%= @season.name %> Management</h1>

<section>
  <h3>Update season info</h3>
  <%= form_for :season, url: admin_update_season_path, method: :patch do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :start_date %>
    <%= f.date_field :start_date %>

    <%= f.submit("Update new season") %>
  <% end %>
</section>
<section>
  <h3>Add New Game</h3>
  <%= form_for :game, url: admin_create_game_path do |f| %>
    <%= f.label :opponent %>

    <%= f.select(:opponent) do %>
      <% opp_array = OPPO_TEAM_ARR.map.with_index { |oppo, index| [oppo[:name], index + 1]} %>
      <%= options_for_select(opp_array) %>
    <% end %>

    <%= f.label :gametime %>
    <%= f.datetime_local_field :gametime %>

    <%= f.hidden_field :season_id, value: @season.id %>

    <%= f.submit("Add") %>
  <% end %>
</section>

<section>
  <h3>Game list</h3>
  <% if @games.length > 0 %>
    <% @games.each_with_index do |game, index| %>
      <div class="season__gamelist-item">
        <div><%= index + 1 %> </div>
        <div><%= link_to 'Track', admin_game_path(game) %></div>
        <div class="team-name"><%= game.opponent_name%></div>
        <div><%=game.gametime %></div>
        <div><%= link_to 'Remove', admin_delete_game_path(game), method: :delete, data: { confirm: 'Are you sure?' }%></div>
      </div>
    <% end %>
  <% else %>
    No Game! Please add new one.
  <% end %>
</section>
