<h1>Index</h1>

<%= @team.team_name %>
<%= image_tag(@team.team_logo)%>
<p><%= link_to 'Season Admin', admin_seasons_path %></p>
<p><%= link_to 'Player Admin', admin_players_path%></p>
<p><%= link_to 'Roster Admin', admin_rosters_path%></p>
