<div class='row' id="tab-schedule">
  <% if @team.schedule_games.blank? %>
  <div class="col xs12">
    <h3 class='padding-all'>No Game Scheduled</h3>
  </div>
  <% end %>
  <% @team.schedule_games.each do |game| %>
  <div class="col xs12 s10 offset-s1">
    <div class="card horizontal match-card match-card-schedule">
      <div class="aspect-content">
        <div class="team-logo">
          <%= image_tag(game.opponent_image) %>
          <% unless game.opponent_image? %>
            <div class='oppo-team-short text-center absolute-centering'><%= game.opponent_shortname %></div>
          <% end %>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h3 class='no-margin margin-bottom'><%= game.opponent_name %></h3>
          <p><strong><%= format_datetime(game.gametime) %></strong></p>
          <p><%= STADIUM_ADDRESS %></p>

        </div>
        <div class="card-action">

          <a href="#">ADD TO CALENDER</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
