<div class="row" id="tab-gamelog">
  <div class="player-gamelog col xs12" id="playergamelog">
    <div class="card-panel player-gamelog-section">
      <div class="card-panel-header center-on-small-only">
        <h3 class="reverse-text-color">Game Logs</h3>
      </div>
      <div class="card-panel-content no-padding-xs">
        <div class="bootgrid-container bootgrid-stat-full first-item-fixed team without-header without-footer mar-bottom-lg pos-relative">
          <table id="team_gamelog_table" class="bootgrid-table">
            <thead>
              <tr>
                <th data-css-class="fixed-cell ellipsis" data-header-css-class="fixed-cell" data-column-id="gameoppo" data-formatter="game-link" data-visible-in-selection="false"></th>
                <th data-column-id="game">G</th>
                <th data-column-id="pts" data-type="numeric">PTS</th>
                <th data-column-id="reb" data-type="numeric">REB</th>
                <th data-column-id="ast" data-type="numeric">AST</th>
                <th data-column-id="fgm" data-type="numeric" data-visible='false'>FGM</th>
                <th data-column-id="fga" data-type="numeric" data-visible='false'>FGA</th>
                <th data-column-id="fg" data-formatter="ratio" data-sortable='false'>FG</th>
                <th data-column-id="fg_per" data-type="numeric" data-formatter='percent'>FG%</th>
                <th data-column-id="tpm" data-type="numeric" data-visible='false'>3PM</th>
                <th data-column-id="tpa" data-type="numeric" data-visible='false'>3PA</th>
                <th data-column-id="3pt" data-formatter="ratio" data-sortable='false'>3P</th>
                <th data-column-id="threep_per" data-type="numeric" data-formatter='percent'>3P%</th>
                <th data-column-id="ftm" data-type="numeric" data-visible='false'>FTM</th>
                <th data-column-id="fta" data-type="numeric" data-visible='false'>FTA</th>
                <th data-column-id="ft" data-formatter="ratio" data-sortable='false'>FT</th>
                <th data-column-id="ft_per" data-type="numeric" data-formatter='percent'>FT%</th>
                <th data-column-id="oreb" data-type="numeric">OREB</th>
                <th data-column-id="dreb" data-type="numeric">DREB</th>
                <th data-column-id="tov" data-type="numeric">TOV</th>
                <th data-column-id="stl" data-type="numeric">STL</th>
                <th data-column-id="blk" data-type="numeric">BLK</th>
                <th data-column-id="pf" data-type="numeric">PF</th>
                <th data-column-id="id" data-type="numeric" data-visible='false'>ID</th>
              </tr>
            </thead>
            <tbody>
              <% @team.result_games_current_season.each do|game| %>
                <tr>
                  <td><%= game.opponent_shortname %></td>
                  <td><%= game.win_or_lose %></td>
                  <td><%= game.team_stat.points %></td>
                  <td><%= game.team_stat.rebound %></td>
                  <td><%= game.team_stat.ast %></td>
                  <td><%= game.team_stat.fgm %></td>
                  <td><%= game.team_stat.fga %></td>
                  <td></td>
                  <td><%= game.team_stat.field_goal_percent %></td>
                  <td><%= game.team_stat.tpm %></td>
                  <td><%= game.team_stat.tpa %></td>
                  <td></td>
                  <td><%= game.team_stat.three_point_percent %></td>
                  <td><%= game.team_stat.ftm %></td>
                  <td><%= game.team_stat.fta %></td>
                  <td></td>
                  <td><%= game.team_stat.free_throw_percent %></td>
                  <td><%= game.team_stat.oreb %></td>
                  <td><%= game.team_stat.dreb %></td>
                  <td><%= game.team_stat.tov %></td>
                  <td><%= game.team_stat.stl %></td>
                  <td><%= game.team_stat.blk %></td>
                  <td><%= game.team_stat.foul %></td>
                  <td><%= game.id %></td>
                </tr>
              <% end %>

            </tbody>
          </table>

        </div>
        <%# End table container %>
      </div>
    </div>
  </div>

</div>
