<div class="team-header-section">
  <div class="container-header">
    <div class="row">
      <div class="col l4 push-l8 pos-relative no-padding">
        <div class="team-header-gallery-wrap left hide-on-med-and-down">
          <%= image_tag("gallery-left.svg") %>
        </div>
        <div class="team-header-gallery">
          <%= image_tag("match_background.jpeg") %>
        </div>
        <div class="team-header-gallery-wrap right hide-on-med-and-down">
          <%= image_tag("gallery-right.svg") %>
        </div>
        <div class="team-header-gallery-wrap down hide-on-large-only">
          <%= image_tag("gallery-down.svg") %>
        </div>
      </div>
      <div class="col l8 pull-l4">
        <div class="team-header-content reverse-text-color margin-all-lg clearfix">
          <div class="team-header-logo">
            <%= image_tag("logo-mixed.png") %>
          </div>
          <div class="team-header-title padding-all">
            <h1>Team Name</h1>
            <h3>1W - 2L</h3>
            <p><i class="fa fa-trophy icon-space-right-lg"></i>  Last Game: L 28 -29</p>
            <p><i class="fa fa-calendar icon-space-right-lg"></i> Next Game: VS Team B, 10:30 AM, Sep/08/2016</p>
          </div>
        </div>
        <div class="team-header-stat reverse-text-color margin-all-lg text-center">
          <div class="stat-item"><span>PPG</span>32.1</div>
          <div class="stat-item"><span>PPG</span>32.1</div>
          <div class="stat-item"><span>PPG</span>32.1</div>
          <div class="stat-item hide-on-small-and-down"><span>PPG</span>32.1</div>
          <div class="stat-item hide-on-small-and-down"><span>PPG</span>32.1</div>
          <div class="stat-item hide-on-small-and-down"><span>PPG</span>32.1</div>
        </div>
      </div>

    </div>
  </div>
</div>
