<%# TEAM HEADER SECTION %>
<div class="team-page-content">
  <%= render partial: 'team_page/team_header' %>

  <div class="container">
    <%= render partial: 'team_tab_select' %>
    <%= render partial: 'tab_player' %>
    <%= render partial: 'tab_result' %>
    <%= render partial: 'tab_schedule' %>
    <%= render partial: 'tab_gamelog' %>
  </div>
</div>
