<h1>GAME Record</h1>
<div>
  <%= link_to 'Generate empty obj in Database', admin_game_init_path(@game), :method => "post"%>
</div>
<section><%= @game.id %> <%= @game.opponent %></section>


<section>
  <%= form_for :move, url: admin_create_action_path do |f| %>
    <%= f.collection_radio_buttons(:player_id, @player_collection, :id, :name) %>

    <%= f.radio_button :player_id,'0'%> Oppo <br/>

    <br>
    <% GAME_ACTION_LIST.each_with_index do |val,index| %>
      <%= f.radio_button :action_index, index %> <%= val %><br />
    <% end %>

    <%= f.hidden_field :game_id, value: @game.id %>

    <%= f.submit %>

  <% end %>

</section>

<section>
  <h5>Action List</h5>
  <% @action_list.each do |action| %>
    <p>Player: <%= action.player_name %>, Action: <%=GAME_ACTION_LIST[action.action_index]%>, Move Up, Move Down, Edit, Remove</p>
  <% end %>
</section>
