<h1>GAME Record</h1>
<div>
  <%= link_to 'Generate empty obj in Database', admin_game_init_path(@game), :method => "post"%>
</div>
<section><%= @game.id %> <%= @game.opponent %></section>


<section>
  <%= form_tag('url', method: "post", class: "sth") %>
  <% @player_collection.each do |player| %>
    <%= radio_button_tag(:player, player.name) %>
    <%= label_tag(:player, player.name) %>
  <% end %>
  <br>
  <% GAME_ACTION_LIST.each do |action| %>
    <%= radio_button_tag(:play_action, action )%>
    <%= label_tag(:play_action, action) %>
    <br>
  <% end %>

</section>
