<div class="container" id="video-index-page">
  <%# Add new button%>
  <section class="row">
    <div class="col xs12 clearfix">
      <h1 class="pull-left">Video List</h1>
      <div class="pull-right">
        <%= link_to 'Import', video_import_path, method: :get, class: 'btn' %>
      </div>
    </div>
  </section>

  <%# Video List %>
  <section>
    <table class="video-list">
      <thead>
        <tr>
          <td>Team 1</td>
          <td>Team 2</td>
          <td>Game day</td>
          <td>Youtube ID</td>
          <td>Game time</td>
        </tr>
      </thead>
      <tbody>
        <% @videos.each do |video| %>
          <% prefect_match = team_name_match(video.team_1) == "SAME" && team_name_match(video.team_2) == "SAME" %>
          <tr>
            <td><%= video.team_1 %> <span><%= "("+team_name_match(video.team_1)+"?)" unless team_name_match(video.team_1) == "SAME"%></span></td>
            <td><%= video.team_2 %> <span><%= "("+team_name_match(video.team_2)+"?)" unless team_name_match(video.team_2)  == "SAME"%></span></td>
            <td>
              <%= render partial: 'form', locals: {video: video, hide: true, show_match: true } unless prefect_match %>
            </td>
            <td><%= video.game_day %></td>
            <td><%= video.youtube_id %></td>
            <td><%= video.gametime.strftime("%m/%d/%Y") %></td>
            <td><%= link_to 'edit', video_path(video), target: '_blank' %></td>
            <td><%= link_to 'delete', video_path(video), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </section>

  <section>
      <h3>Add new video record</h5>
      <%= form_for :video, url: videos_path, method: 'POST' do |f| %>
        <%= f.label :team_1 %>
        <%= f.text_field :team_1 %>
        <br/>
        <%= f.label :team_2 %>
        <%= f.text_field :team_2 %>
        <br/>
        <%= f.label :game_day %>
        <%= f.text_field :game_day %>
        <br/>
        <%= f.label :youtube_id %>
        <%= f.text_field :youtube_id %>
        <br/>
        <%= f.label :gametime %>
        <%= f.date_field :gametime %>
        <br/>
        <%= f.hidden_field :season_id, value: @current_season.id %>

        <%= f.submit("Add video") %>
      <% end %>
  </section>
</div>
<div class="margin-bottom-lg"></div>
