<div class="container">
  <h1>Video</h1>
  <%= form_for @video, url: video_path(), method: 'PATCH' do |f| %>
    <%= f.label :team_1 %>
    <%= f.select(:team_1) do %>
      <%= options_for_select([@video[:team_1]]) %>
      <% opp_array = VIDEO_TEAM_LIST.map.with_index { |oppo, index| [oppo[:name], oppo[:name]]} %>
      <%= options_for_select(opp_array) %>
    <% end %>
    <br/>
    <%= f.label :team_2 %>
    <%= f.select(:team_2) do %>
      <%= options_for_select([@video[:team_2]]) %>
      <% opp_array = VIDEO_TEAM_LIST.map.with_index { |oppo, index| [oppo[:name], oppo[:name]]} %>
      <%= options_for_select(opp_array) %>
    <% end %>
    <br/>
    <%= f.label :game_day %>
    <%= f.text_field :game_day %>
    <br/>
    <%= f.label :youtube_id %>
    <%= f.text_field :youtube_id %>
    <br/>
    <%= f.label :gametime %>
    <%= f.date_field :gametime %>

    <%= f.hidden_field :season_id, value: @current_season.id %>
    <br/>
    <%= f.submit("Update video") %>
  <% end %>
</div>

<div class="margin-bottom-lg"></div>
