<% @playbyplayscore.update_score_with_action(action) %>
<% if action.player_id == -2 %>
  <div id="Quarter_<%= @quarter_index %>" class="playbyplay-item item-quarter">
    <h4 class='text-center'>Quater Ends</h4>
    <% @quarter_index = @quarter_index +1 %>
  </div>
<% elsif action.player_id == -1 %>
  <div class="playbyplay-item item-right row fake-row">
    <div class="col xs3 s2 offset-xs1 offset-s5 text-center"><%= @playbyplayscore.point_total %> - <%= @playbyplayscore.point_op_total %></div>
    <div class="col xs7 s5 text-align-left"><%= @game.opponent %>, <%= action_from_index(action.action_index) %></div>
  </div>
<% else %>
  <div class="playbyplay-item item-left row fake-row">
    <div class="col xs7 s5 offset-xs1 text-align-right"><%= action.player_name %>, <%=action_from_index(action.action_index)%></div>
    <div class="col xs3 s2 text-center"><%= @playbyplayscore.point_total %> - <%= @playbyplayscore.point_op_total %></div>
  </div>
<% end %>
