<%= render partial: "game_header" %>
<%= render partial: "game_point" %>
<div class="container">
  <%= render partial: 'tab_select' %>
  <%= render partial: 'teamstat' %>
  <%= render partial: 'boxscore' %>
  <%= render partial: 'playbyplay' %>
</div>
