<%= render partial: "game_header" %>

<div class="container">
  <%= render partial: 'tab_select' %>
  <%= render partial: 'teamstat' %>
  <%= render partial: 'boxscore' %>
  <%= render partial: 'playbyplay' %>
</div>
