<div class="player-header-section">
    <div class="container">
          <div class="player-header-content pos-relative">
              <div class="player-header-image">
                  <%= image_tag('design_guide/player_image.png', class: 'activator') %>
              </div>
              <div class="content-wrap padding-all reverse-text-color">

                  <div class="player-header-name">
                      <h1><%= player.name %></h1>
                      <h3>#<%= player.number %> <%= player.position %></h3>
                      <span><%= player.height %> cm</span><span> / </span><span><%= player.weight %> kg</span><span> / </span><span>Age ?</span>
                  </div>


                  <div class="player-header-stat padding-bottom">
                      <div class="stat-item"><span>PPG</span><%= number_with_precision(player.avg_stat_current_season.points, precision: 1) %></div>
                      <div class="stat-item"><span>RPG</span><%= player.avg_stat_current_season.rebound %></div>
                      <div class="stat-item"><span>APG</span><%= player.avg_stat_current_season.ast %></div>
                      <div class="stat-item hide-on-med-and-down"><span>FG%</span><%= number_to_percentage(player.avg_stat_current_season.field_goal_percent, precision: 1) %></div>
                      <div class="stat-item hide-on-med-and-down"><span>3P%</span><%= number_to_percentage(player.avg_stat_current_season.three_point_percent, precision: 1) %></div>
                      <div class="stat-item hide-on-med-and-down"><span>FT%</span><%= number_to_percentage(player.avg_stat_current_season.free_throw_percent, precision: 1) %></div>
                  </div>
              </div>
              <div class="player-header-number hide-on-small-and-down"><%= player.number %></div>
          </div>
    </div>
</div>
