<div class="player-header-section">
    <div class="container">
          <div class="player-header-content pos-relative">
              <div class="player-header-image">
                  <%= image_tag('design_guide/player_image.png', class: 'activator') %>
              </div>
              <div class="content-wrap padding-all reverse-text-color">

                  <div class="player-header-name">
                      <h1><%= player.name %></h1>
                      <h3>#<%= player.number %> <%= player.position %></h3>
                      <span><%= player.height %> cm</span><span> / </span><span><%= player.weight %> kg</span><span> / </span><span>Age ?</span>
                  </div>

                  <% current_season_stat = player.avg_stat_current_season %>
                  <% unless current_season_stat.fgm === nil %>
                    <div class="player-header-stat padding-bottom">
                        <div class="stat-item"><span>PPG</span><%= number_with_precision(current_season_stat.points, precision: 1) %></div>
                        <div class="stat-item"><span>RPG</span><%= current_season_stat.rebound %></div>
                        <div class="stat-item"><span>APG</span><%= current_season_stat.ast %></div>
                        <div class="stat-item hide-on-med-and-down"><span>FG%</span><%= number_to_percentage(current_season_stat.field_goal_percent, precision: 1) %></div>
                        <div class="stat-item hide-on-med-and-down"><span>3P%</span><%= number_to_percentage(current_season_stat.three_point_percent, precision: 1) %></div>
                        <div class="stat-item hide-on-med-and-down"><span>FT%</span><%= number_to_percentage(current_season_stat.free_throw_percent, precision: 1) %></div>
                    </div>
                  <% end %>
              </div>
              <div class="player-header-number hide-on-small-and-down"><%= player.number %></div>
          </div>
    </div>
</div>
