<div class="page-content-wrap">
  <section>
    <%= render partial: 'player_header_section', locals: {player: @player} %>
  </section>
  <div class="container">
    <%= render partial: 'player_tab_select' %>
    <%= render partial: 'player_stat' %>
    <%= render partial: 'player_gamelog' %>
    <%= render partial: 'player_bio' %>
  </div>
</div>
