<h1>Player</h1>
<%= link_to 'Back', players_path %>
<%= link_to "Edit", edit_player_path(@player) %>
<%= link_to "Delete", player_path(@player), method: :delete, data: { confirm: 'Are you sure?' } %>
<p>Name: <%= @player.name %></p>
<p>Number: <%= @player.number %></p>
<p><%= image_tag(@player.image_url) %></p>
