<% top_stats = game.get_stats_top_player %>
<div class="col xs12 l10 offset-l1">
  <div class="js-match-cards-flip">
    <div class="card horizontal match-card match-card-result-simple">
      <div class="aspect-content">
        <div class="team-logo">
          <%= image_tag('design_guide/team_logo.svg') %>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="col m4 xs12 no-padding">
            <h5 class='display-inline'><%= game.opponent%></h5>
            <br class="hide-on-med-and-up">
            <span><%= format_date(game.gametime)%></span>
            <h2><%= game.win_or_lose %> <%= game.score.point_total %> - <%= game.score.point_op_total %></h2>
          </div>
          <div class="col m8 no-padding hide-on-small-and-down top-three-players">
            <div class="top-player">
              <div class="top-player-text">
                <%= top_stats[:point].points.to_i %> PTS
              </div>
              <%= image_tag('design_guide/player_image.png', class: 'top-player-image js-to-url', :data => { :url => player_path(top_stats[:point].player_id) }) %>
            </div>
            <div class="top-player">
              <div class="top-player-text">
                <%= top_stats[:reb].rebound.to_i %> REBS
              </div>
              <%= image_tag('design_guide/player_image.png', class: 'top-player-image js-to-url', :data => { :url => player_path(top_stats[:reb].player_id) }) %>
            </div>
            <div class="top-player">
              <div class="top-player-text">
                <%= top_stats[:ast].ast.to_i %> ASTS
              </div>
              <%= image_tag('design_guide/player_image.png', class: 'top-player-image js-to-url', :data => { :url => player_path(top_stats[:ast].player_id) }) %>
            </div>

          </div>
        </div>
        <div class="card-action">
          <%= link_to 'FULL GAME INFO', game_path(game), class: 'js-to-game-url', :data => { :url => game_path(game) }%>
        </div>
      </div>
    </div>
    <div class="card horizontal match-card match-card-result-detail hide">
      <div class="aspect-content">
        <div class="team-logo">
          <%= image_tag('design_guide/team_logo.svg') %>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <div class="col xs12 s5 no-padding">
            <h5 class='display-inline'><%= game.opponent%>, <%= format_date(game.gametime)%></h5>
            <h4 class='no-margin'><%= game.win_or_lose %> <%= game.score.point_total %> - <%= game.score.point_op_total %></h4>
            <div>
              <table>
                <thead>
                  <td></td>
                  <td>Q1</td>
                  <td>Q2</td>
                  <td>Q3</td>
                  <td>Q4</td>
                  <td></td>
                </thead>
                <tr>
                  <td>LSJ</td>
                  <td><%= game.score.point_q1 %></td>
                  <td><%= game.score.point_q2 %></td>
                  <td><%= game.score.point_q3 %></td>
                  <td><%= game.score.point_q4 %></td>
                  <td><%= game.score.point_total %></td>
                </tr>
                <tr>
                  <td><%= game.opponent%></td>
                  <td><%= game.score.point_op_q1 %></td>
                  <td><%= game.score.point_op_q2 %></td>
                  <td><%= game.score.point_op_q3 %></td>
                  <td><%= game.score.point_op_q4 %></td>
                  <td><%= game.score.point_op_total %></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col s7 no-padding hide-on-xsmall-only match-card-detail-section">
            <div class='padding-all-lg'>
              <h5>REB</h5>
              <p><%= game.team_stat.rebound.to_i %> - <%= game.oppo_team_stat.rebound.to_i %></p>
              <h5>AST</h5>
              <p><%= game.team_stat.ast.to_i %> - <%= game.oppo_team_stat.ast.to_i %></p>
              <h5>TOV</h5>
              <p><%= game.team_stat.tov.to_i %> - <%= game.oppo_team_stat.tov.to_i %></p>
            </div>
            <div class='padding-all-lg'>
              <h5>FG%</h5>
              <p><%= number_to_percentage(game.team_stat.field_goal_percent, precision: 1) %> - <%= number_to_percentage(game.oppo_team_stat.field_goal_percent, precision: 1) %></p>
              <h5>3P%</h5>
              <p><%= number_to_percentage(game.team_stat.three_point_percent, precision: 1) %> - <%= number_to_percentage(game.oppo_team_stat.three_point_percent, precision: 1) %></p>
              <h5>FT%</h5>
              <p><%= number_to_percentage(game.team_stat.free_throw_percent, precision: 1) %> - <%= number_to_percentage(game.oppo_team_stat.free_throw_percent, precision: 1) %></p>
            </div>
          </div>
        </div>
        <div class="card-action">
          <%= link_to 'FULL GAME INFO', game_path(game)%>
        </div>
      </div>
    </div>
  </div>
</div>
