<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <title>BaStat</title>
  <%= include_page_css %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: 'shared/global_nav_header' %>
  <%= render partial: 'shared/breadcrumb' %>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <%= render partial: 'shared/global_nav_footer' %>
  <%= include_page_js %>
  <%= (javascript_include_tag 'video_import', 'data-turbolinks-track' => true).html_safe %>

</body>
</html>
