<!DOCTYPE html>
<html>
<head>
  <title>BaStat</title>
  <%= include_page_css %>
  <%= csrf_meta_tags %>
</head>
<% body_class = 'no-header' if ['match_header','player_header','team_header'].include? params[:action] %>

<body class="<%= body_class %>">

<%= render partial: 'design/header', locals: { active_item: params[:action] } %>

<main>
  <%= yield %>
</main>
<%= render partial: 'design/footer' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= include_page_js %>
</body>
</html>
